*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* shared style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #fff;
    padding-top: 16px;
}
nav{
    width: 100%;
    max-width: 1600PX;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo  {
    max-width: 139px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    margin-right: 350px;
    
}
.menu{
  display: flex;
  gap: 32px;
  list-style-type: none;
  margin: 0 auto; 
  align-items: center;
}

nav .menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: medium;
    color: #000;
    font-size: 16px;
}
nav .menu li a:hover{
    color: #2980b9;
    transition: 0.3s;
    text-decoration: underline;
}
nav .menu a{
    text-decoration: none;
}




 
